<footer class="footer footer-center w-full p-4 bg-teal-900 text-gray-800 position-fixed bottom-0 z-10">
    <div class="text-center text-white">
      <p>
        Copyright © 2023 -
        <a class="font-semibold hover:text-teal-400/50" href="mailto:mailme@gmail.com">Andreas Kamf</a>
      </p>
    </div>
</footer>