---
import { Astro } from 'astro';
import { getRelativeLocaleUrl } from 'astro:i18n';
import { useTranslations, getRouteFromUrl } from '../i18n/utils';

const { language } = Astro.props;

const t = useTranslations(language);
const route = getRouteFromUrl(Astro.url);

---
<header>
    <nav class="bg-teal-900 mb-10">
        <div class="container flex flex-wrap items-center justify-between mx-auto">
            <div class="w-full">
                <ul class="flex p-4 mt-4 justify-around text-lg">
                    <li>
                        <a href={ getRelativeLocaleUrl(language, "") } class="text-white hover:text-teal-400/50">{ t('nav.home') }</a>
                    </li>
                    <li>
                        <a href={ getRelativeLocaleUrl(language, "about") } class="text-white hover:text-teal-400/50">{ t('nav.about') }</a>
                    </li>
                    <li>
                        <a href={ getRelativeLocaleUrl(language, "products") } class="text-white hover:text-teal-400/50">{ t('nav.products') }</a>
                    </li>
                    <li>
                        <a href={ getRelativeLocaleUrl(language, "contact") } class="text-white hover:text-teal-400/50">{ t('nav.contact') }</a>
                    </li>
                    
                    <button id="dropdownHoverButton" data-dropdown-toggle="dropdownHover" data-dropdown-trigger="hover" 
                    class="text-white hover:bg-teal-700 focus:ring-4 focus:outline-none focus:ring-teal-300 rounded-lg text-sm px-5 text-center inline-flex items-center dark:bg-teal-600 dark:hover:bg-teal-700 dark:focus:ring-teal-800" type="button">
                        { t('language') }
                        <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                        </svg>
                    </button>

                    <div id="dropdownHover" class="z-10 hidden bg-teal-600 divide-y divide-teal-700 rounded-lg shadow w-44 dark:bg-teal-700">
                        <ul class="py-2 text-sm text-white dark:text-white-200" aria-labelledby="dropdownHoverButton">
                        <li>
                            <a href={ getRelativeLocaleUrl('en', route)} class="block px-4 py-2 hover:bg-teal-400 dark:hover:bg-teal-600 dark:hover:text-white">English</a>
                        </li>
                        <li>
                            <a href={ getRelativeLocaleUrl('es', route)} class="block px-4 py-2 hover:bg-teal-400 dark:hover:bg-teal-600 dark:hover:text-white">Español</a>
                        </li>
                        <li>
                            <a href={ getRelativeLocaleUrl('fr', route)} class="block px-4 py-2 hover:bg-teal-400 dark:hover:bg-teal-600 dark:hover:text-white">Français</a>
                        </li>
                        <li>
                            <a href={ getRelativeLocaleUrl('sv', route)} class="block px-4 py-2 hover:bg-teal-400 dark:hover:bg-teal-600 dark:hover:text-white">Svenska</a>
                        </li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
</header>