---
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
import "../styles/global.css"

import { defaultLang } from "../i18n/ui";
import { getLangFromUrl, getLangFromIP, useTranslations } from "../i18n/utils";

const { title } = Astro.props;

// (async () => {
//   let langFromURL = getLangFromUrl(new URL(window.location.href));

//   if (!langFromURL) {
//     // If language is not specified in the URL, check browser language preferences
//     const browserLang = navigator.language || navigator.userLanguage;

//     // You might want to map the browser language to your supported languages
//     const supportedLanguages = ['en', 'es', 'fr', 'sv'];
//     const preferredLang = supportedLanguages.find(lang => browserLang.startsWith(lang)) || 'en';

//     langFromURL = preferredLang;
//   }

//   // Now 'langFromURL' contains the language either from the URL or the browser preferences

//   // Use 'langFromURL' to set up translations
//   const t = useTranslations(langFromURL);

//   // Now 't' is a function that translates keys based on the selected language

//   // You can use 't' function to translate any key in your layout
//   const translatedTitle = t('language');
// })();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={ Astro.generator } />
		
		<title>{ title }</title>
	</head>
	<body class="flex flex-col min-h-screen">
        <Header />
		
        <div class="flex-grow flex flex-col items-center justify-center">
			<h1 class="text-4xl">{ title }</h1>
			<div id="app"></div>
            <slot />
        </div>
        
        <Footer />

		<script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
	</body>
</html>