---
import { Astro } from 'astro';
import { getRelativeLocaleUrl } from 'astro:i18n';
import { navigate } from 'astro:transitions/client';

import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
import "../styles/global.css"

import { defaultLang } from '../i18n/ui';
import { getLangFromUrl, useTranslations, getPageFromUrl } from '../i18n/utils';

const preferredLang = Astro.preferredLocale || defaultLang;
const langFromUrl = getLangFromUrl(Astro.url, Astro.preferredLocale);
const lang = langFromUrl || defaultLang;

if (Astro.url.pathname === '/') {
	console.log(getRelativeLocaleUrl(preferredLang, ''));
  	navigate( getRelativeLocaleUrl(preferredLang, '') );
}

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={ Astro.generator } />
		
		<title>{ title }</title>
	</head>
	<body class="flex flex-col min-h-screen">
        <Header />
		
        <div class="flex-grow flex flex-col items-center justify-center">
			<h1 class="text-4xl">{ title }</h1>
            <slot />
        </div>
        
        <Footer />

		<script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
	</body>
</html>