---
import { Astro } from 'astro';

import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
import "../styles/global.css"

import { defaultLang } from '../i18n/ui';
import { getLanguage } from '../i18n/utils';

const preferredLang = getLanguage(Astro.url, Astro.preferredLocale);
const lang = preferredLang || defaultLang;

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={ Astro.generator } />
		
		<title>{ title }</title>
	</head>
	<body class="flex flex-col min-h-screen">
        <Header language={ lang } />
		
        <div class="flex-grow flex flex-col items-center justify-center">
			<h1 class="text-4xl">{ title }</h1>
            <slot />
        </div>
        
        <Footer language={ lang } />

		<script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
	</body>
</html>